---
import MainLayout from '../layouts/MainLayout.astro';
import Form from '../components/Form.astro';
import Button from '../components/Button.astro';
---

<MainLayout>
    <h2 class="title">Bliv frivillig</h2>

  <div class="frivillig-wrap">
    <div class="pics">
      <img src="../public/images/bliv-frivillig/Bliv-frivillig.webp" alt="" />
    </div>
    <p class="text">
      Som frivillig hos Coming Up får du muligheden for at gøre en forskel for
      unge musiktalenter og samtidig være en del af et fællesskab, der brænder
      for musik og kultur. Uanset om du vil hjælpe med planlægning,
      markedsføring, teknik eller noget helt andet, er der plads til dig på
      vores team. Vi søger engagerede ildsjæle, der vil være med til at skabe
      unikke koncertoplevelser og støtte unge musikere på deres vej mod
      scenelyset. Sammen skaber vi magien bag musikken!
      <br />
      <br />
      Som frivillig i Coming Up, vil du have ansvaret og stå for forskellige funktioner,
      samt have indflydelse på events og lineup. Vi forventer at du er mødepligtig
      og dukker op til Coming Ups månedlige møder og hjælper til i afvikling.
    </p>

    <div class="funktion-wrap">
      <h2 class="underh2">Frivilligfunktioner</h2>
      <p class="text">
        Hos Coming Up er du ikke fastlås til én frivilligfunktion. Du kan få lov
        til at prøve kræfter af som både bartender, afvikler og booker og kan
        selv vælge til og fra, hvilke funktioner du ønsker at engagere dig mest
        i.
      </p>

      <div class="container" id="info">
        <div class="info">
          <h3 class="fold">
            <span class="arrow">➤</span>
            <span>Bartender</span>
          </h3>
          <p>
            I baren finder du de skarpeste frivillige, der slinger de mest spicy
            drinks ud til gæsterne!
          </p>
        </div>

        <div class="container" id="info">
          <div class="info">
            <h3 class="fold">
              <span class="arrow">➤</span>
              <span>Runner</span>
            </h3>
            <p>
              Runnerne er dem med knald under fødderne, der kan ses løbe rundt i
              salen, på toiletterne og omkring indgangen for at sørge for, at
              der altid er rent og pænt til vores gæster.
            </p>
          </div>

          <div class="container" id="info">
            <div class="info">
              <h3 class="fold">
                <span class="arrow">➤</span>
                <span>Indgang</span>
              </h3>
              <p>
                Dem der sidder i indgangen, er de første fra Coming Up som man
                møder som gæst. Det er netop derfor de altid ses med deres store
                colgatesmil imens de siger “velkommen til” og “ha en rigtig god
                aften”.
              </p>
            </div>

            <div class="container" id="info">
              <div class="info">
                <h3 class="fold">
                  <span class="arrow">➤</span>
                  <span>Frivilligkordinator</span>
                </h3>
                <p>
                  Frivilligkoordinatoren har ansvaret for at rekruttere
                  frivillige til koncerter, lave vagtplaner, og sørge for en
                  generel god stemning og sammenhold blandt de frivillige.
                </p>
              </div>

              <div class="container" id="info">
                <div class="info">
                  <h3 class="fold">
                    <span class="arrow">➤</span>
                    <span>Backstage</span>
                  </h3>
                  <p>
                    Backstage er dem, der nok har den tætteste kontakt til
                    kunstnerne. Det er de skarpe folk i backstage, der sørger
                    for, at der altid er godt med snacks og fed og lowkey
                    stemning i backstage, for at give kunstnerne den bedst
                    mulige oplevelse hos os.
                  </p>
                </div>
              </div>
              <div class="form">
                <h3>Vil du være frivillig?</h3>
                <p class="over-btn-text">Skriv din mail, så kontakter vi dig</p>
                <Form></Form>
              </div>
            </div>

            <div class="crew-wrap">
              <h2 class="title">Bliv crewmedlem</h2>
              <div class="pics">
                <img
                  src="../public/images/bliv-frivillig/Bliv-crew.webp"
                  alt=""
                />
              </div>

              <div class="funktion-wrap-crew">
                <p class="text">
                  Er du interesseret i at være med i crewet, vil det være dig,
                  der er med til at planlægge events og lave alt det forbyggende
                  arbejde. Som medlem af crewet forventer vi en stor insats af
                  frivillige timer i dit ugentlige skema. Her er det nemlig dig
                  som er med til at skabe coming up og med til at udvikle videre
                  på vores fremtid.
                  <br />
                  <br />
                  I crewet forventer vi også at du er parat på mange forskellige
                  opgaver og har tiden og overskuddet til at udføre dem fuldstændigt.
                  Der vil dog værre nogle gemmengående opgaver som du ikke kan undgå
                  at møde, det ville være opgaver så som: Booker, baransvarlig, backstageansvarlig,
                  salansvarlig, pynt og stemning. Og derunder kræver det også at
                  du kommer med dine egene ider og forslag til events.
                  <br />
                  <br />
                  Vores ambitioner er ikke små.
                </p>

                <div class="crew-wrap">
                  <h2 class="underh2">Crewfunktioner</h2>
                  <p class="text">
                    Hos Coming Up er du ikke fastlås til én funktion. Som
                    crew-medlem forventes det, at du engagerer dig i alle de
                    forskellige funktioner, men pålægges et bestemt
                    ansvarsområde afhængig af eventet.
                  </p>

                  <div class="container" id="info">
                    <div class="info">
                      <h3 class="fold">
                        <span class="arrow">➤</span>
                        <span>Booker</span>
                      </h3>
                      <p>
                        Til hver coming up, er der en en crewet, der melder sig
                        frivilligt til at finde og booke kunstnere, til en
                        specifik dato. Det er også bookeren der sørger for at
                        samle PR materiale ind til SoMe holdet.
                      </p>
                    </div>

                    <div class="container" id="info">
                      <div class="info">
                        <h3 class="fold">
                          <span class="arrow">➤</span>
                          <span>SoMe holdet</span>
                        </h3>
                        <p>
                          SoMe holdet er den arbejdsgruppe, der står for al
                          promovering af koncerterne. Det er dem, der arbejder
                          med alt lige fra det grafiske arbejde, til deling af
                          stemningsbilleder på story i løbet af en koncert og
                          meget, meget mere.
                        </p>
                      </div>

                      <div class="container" id="info">
                        <div class="info">
                          <h3 class="fold">
                            <span class="arrow">➤</span>
                            <span>Bar- og salgsansvarlig</span>
                          </h3>
                          <p>
                            Det er den baransvarliges opgave at holde det kølige
                            overblik i baren både før, under og efter en
                            koncert.
                          </p>
                        </div>

                        <div class="container" id="info">
                          <div class="info">
                            <h3 class="fold">
                              <span class="arrow">➤</span>
                              <span>Runner-ansvarlig</span>
                            </h3>
                            <p>
                              Den der er runner-ansvarlig, har fart i fødderne
                              og løber hele venuen rundt. Det er den person, der
                              altid sørger for at holde vågent øje med salen,
                              toiletterne og det nærliggende udendørsområde. Det
                              er dem, der sørger for, at venuen er pæn og ren
                              til vores gæster.
                            </p>
                          </div>

                          <div class="container" id="info">
                            <div class="info">
                              <h3 class="fold">
                                <span class="arrow">➤</span>
                                <span>Backstage-ansvarlig</span>
                              </h3>
                              <p>
                                Den der har ansvaret i backstage sørger for, at
                                kunstnernes rum og fællesareal bare spiller både
                                inden, under og efter en koncert.
                              </p>
                            </div>

                            <div class="container" id="info">
                              <div class="info">
                                <h3 class="fold">
                                  <span class="arrow">➤</span>
                                  <span>SoMe-ansvarlig</span>
                                </h3>
                                <p>
                                  Den ansvarlige for SoMe på aftenen, er den
                                  person der sørger for at tage en masse fedt
                                  content til vores sociale medier, og er den
                                  der virkelig skal være god til at fange
                                  stemningen til koncerten.
                                </p>
                              </div>

                              <div class="container" id="info">
                                <div class="info">
                                  <h3 class="fold">
                                    <span class="arrow">➤</span>
                                    <span>Frivilligvært</span>
                                  </h3>
                                  <p>
                                    Til hver Coming Up, vil der altid være en
                                    frivilligvært. Det er den person, der sørger
                                    for, at nye frivillige bliver budt velkomne,
                                    bliver vist rundt på venuen, vist
                                    kassesystemerne og bare generelt sørger for
                                    herre god stemning og fællesskab blandt de
                                    frivillige.
                                  </p>
                                </div>

                                <div class="container" id="info">
                                  <div class="info">
                                    <h3 class="fold">
                                      <span class="arrow">➤</span>
                                      <span>Vært</span>
                                    </h3>

                                    <p>
                                      Værterne er dem, der præsentere bandsne på
                                      scenen, hyper publikum op, byder velkommen
                                      og tager afsked med gæsterne.
                                    </p>
                                  </div>
                                </div>

                                <div class="form">
                                    <h3>Vil du være crewmedlem?</h3>
                                    <p class="over-btn-text">
                                      Skriv din mail, så kontakter vi dig
                                    </p>
                                    <Form></Form>
                                </div>
                              </div>

                              <div class="tekniker-wrap">
                                <h2 class="title">Bliv tekniker</h2>
                                <div class="pics">
                                  <img
                                    src="../public/images/bliv-frivillig/Bliv-tekniker.webp"
                                    alt=""
                                  />
                                </div>
                                <p class="text">
                                  Teknikkerne til Coming Up består ikke af
                                  frivillige, men studerende på Joachim Zinns
                                  teknikhold, som et undervisningstilbud under
                                  Holbæk Kulturskole. Coming Up og
                                  Teknikundervisning er separat fra hinanden, og
                                  hands-on undervisning foregår også til andre
                                  events end Coming Up.
                                  <br />
                                  <br />
                                  Med soloundervisning kan vi tilrettelægge lektionerne,
                                  så det passer til det du ønsker. Yderligere kan
                                  du også tilvælge holdundervisning.
                                  <br />
                                  <br />
                                  Undervisningen vil foregå 2 timer, 1 gang om måneden
                                  på Elværket i Holbæk.
                                  <br />
                                  <br />
                                  Pris for soloundervisning: 4.600,- pr. år
                                </p>
                                <div class="form">
                                    <h3>Vil du være tekniker?</h3>
                                    <p class="over-btn-text">
                                      Skriv din mail, så kontakter vi dig
                                    </p>
                                    <Form></Form>

                              </div>
                            </div>

                            <style>
                              @media (max-width: 750px) {
                                .pics {
                                  width: 85%;
                                  margin-bottom: 2rem;
                                }

                                .text {
                                  max-width: 25rem;
                                  margin-left:1rem;
                                }

                                
                                .info p{
                                    margin-left:0;
                                }

                                .title{
                                writing-mode: horizontal-tb;
                                text-transform: uppercase;
                                font-size:4rem;
                                max-width:1rem;
                                line-height:4rem;
                                text-indent:2.5rem;
                                }

                                .underh2{
                                    text-align:center;
                                    margin-left:0;
                                }

                              }


                              p{
                                max-width:62rem;
                                margin-left:15rem;
                              }

                              .info {
                                border-bottom: solid 1px #4693fa;
                                padding: 10px 20px 10px 20px;
                                width: 340px;
                                margin: auto;
                                margin-bottom: 10px;
                                position: relative;
                                transition: all 0.3s;
                                cursor: pointer;
                              }

                              .info p {
                                height: 0px;
                                overflow: hidden;
                                text-align:center;
                              }

                              .info h3 {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                margin-left: 20px;
                              }

                              .info.open p {
                                height: 100%;
                                margin-left:0;
                                margin-bottom:1.5rem;
                              }

                              .info .arrow {
                                transition: all 0.3s;
                              }

                              .info.open .arrow {
                                rotate: 90deg;
                              }

                              .arrow {
                                position: absolute;
                                left: 0px;
                              }

                              .container {
                                margin-top: 20px;
                              }

                              .info-container {
                                display: flex;
                                justify-content: center;
                                scroll-margin: 35vh;
                                margin: 30px 0;
                              }

                              .fold {
                                margin: 0;
                                margin-bottom: 10px;
                                margin-top: 10px;
                              }

                              .crew-wrap {
                                background-color: var(--accent-color3);
                                padding-top: 3rem;
                                margin-top:3rem;
                              }

                              .pics {
                                display: block;
                                margin: auto;

                                margin-bottom: 20px;
                              }

                              .funktion-wrap-crew {
                                background-color: #fef4ff;
                              }

                              .title {
                                max-width: 1000px;
                                margin-top:2rem;
                              }

                              .underh2 {
                                font-size: 2em;
                                margin: auto;
                                margin-top: 3rem;
                                margin-bottom:1.5rem;
                                writing-mode: horizontal-tb;
                                text-align: center;
                                text-transform: uppercase;
                              }

                              h3 {
                                text-align: center;
                                margin-top: 70px;
                              }

                              .over-btn-text {
                                text-align: center;
                                margin-bottom:1.5rem;
                              }

                              .tekniker-wrap {
                                background-color: #f2f1eb;
                                padding-top: 30px;
                              }


                              .form{
                                    text-align:center;
                                    padding-bottom:3rem;
                                }


                              @media (min-width: 799px) {
                                .pics {
                                  width: 50%;
                                  margin-bottom:3rem;
                                }

                                .info {
                                  text-align: center;
                                  width: 800px;
                                }

                                .title {
                                writing-mode: horizontal-tb;
                                text-transform: uppercase;
                                font-size:6rem;
                                max-width:1rem;
                                line-height:6rem;
                                text-indent:2.5rem;
                              }
                              }
                            </style>
                          </div>

                          <script>
                            document
                              .querySelectorAll('.info')
                              .forEach((box) => {
                                box.addEventListener('click', () => {
                                  box.classList.toggle('open');
                                });
                              });
                          </script>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>