<div class="bar-container">
  <div class="drink-heading"><h1>ISBJØRN</h1></div>
  <div class="drink-container">
    <h4 class="fixed-title">0.5 cl</h4>
    <img src="/images/barmenu/bluedrink.webp" class="blue-drink" alt="drink" />
    <h5 class="fixed-vol">5 %VOL</h5>
  </div>
  <div class="bar-text">
    <p>
      Med sin søde og friske smag af sprite og blå curaçao (citrus og mandarin)
      og den fremtrædende festlige blå farve, er Isbjørnen dukket op igen som en
      90'er kultdrink.
    </p>
  </div>
</div>

<style>
  .bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .drink-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }

  .drink-heading h1 {
    color: var(--primary-color1);
    font-family: 'Bowlby One', sans-serif;
    max-width: 96%;
    font-size: 3rem;
    line-height: 1.5;
    text-indent: 1rem;
  }

  .drink-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 0;
    margin: 0px;
  }
  .blue-drink {
    margin-top: -2.5rem;
  }

  .fixed-title,
  .fixed-vol {
    font-size: 14px;
    font-family: 'Bebas Neue', serif;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .bar-text p {
    padding: 2rem;
    text-align: left;
    font-weight: 500;
    font-size: 1.2rem;
  }
  @media (min-width: 600px) {
    .drink-heading h1 {
      font-size: 3rem;
      line-height: 1;
      margin-left: 0;
      width: 100%;
    }
    .blue-drink {
      margin-top: -2.5rem;
    }
    .fixed-title,
    .fixed-vol {
      font-size: 1.8rem;
      font-weight: bold;
    }
    .bar-text p {
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
  @media (min-width: 926px) {
    .drink-heading h1 {
      font-size: 4rem;
      line-height: 1;
    }
    .blue-drink {
      margin-top: -4rem;
    }
    .fixed-title,
    .fixed-vol {
      font-size: 2rem;
      font-weight: bold;
    }
    .bar-container {
      margin-right: 40%;
      margin-left: 5%;
    }
    .drink-heading {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 4rem;
    }
    .drink-heading h1 {
      max-width: 98%;
      width: 100%;
      font-size: 6rem;
      line-height: 1;
      text-indent: 3rem;
      margin-left: 0;
    }
  }
  @media (min-width: 1326px) {
    .drink-heading h1 {
      font-size: 4rem;
      padding-left: 8rem;
      text-indent: 4rem;
    }
    .blue-drink {
      margin-top: -4rem;
      height: 500px;
    }
    .fixed-title,
    .fixed-vol {
      font-size: 2rem;
      font-weight: bold;
    }
    .bar-container {
      margin-right: 34%;
    }
    .drink-heading {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 4rem;
    }
    .drink-heading h1 {
      max-width: 98%;
      width: 100%;
      font-size: 6rem;
      line-height: 1;
      text-indent: 1rem;
      margin-left: 0;
    }
    .bar-text p {
      padding: 2rem;
      text-align: left;
      font-weight: 500;
      font-size: 1.2rem;
      margin-right: 43rem;
      margin-top: -10rem;
      min-width: 392px;
      /* margin-left: 30rem;
      margin-top: auto; */
    }
  }
</style>
