---
import Button from "./Button.astro"
---

<section class="hero">
  <div class="hero-container">
    <div class="title-box">
      <h1 class="title-heading">MÆRK RYTMEN I PROVINSEN</h1>
    </div>
    <div class="hero-content">
      <Button variant="primary">SE EVENTS</Button>
    </div>
    <div>
      <h3 class="heading-three">COMING UP HOLBÆK</h3>
    </div>
  </div>
</section>
<div class="text-container">
  <p>
    Coming Up er en frivillig musikorganisation dedikeret til at fremhæve unge,
    spirende sangere og musikere. Vi giver dem en scene til at udfolde deres
    talent og bringe original, rå og autentisk musik til publikum. Sammen skaber
    vi koncertoplevelser, der lyser op som et prisme og spreder kreativitet.
  </p>
</div>

<style>
  /* Mobile-first Base Styles */
  .hero {
    position:relative;
    background: url('/images/index/heroimg.webp') no-repeat 50% 0% fixed ;
    margin-top: 2rem;
    width: 100%;
    height: 450px;
    overflow:hidden;
    background-position: center;
  }

  .title-heading{
    max-width: 1000px;
  }

  .heading-three {
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
    margin-top:8rem;
  }
  .text-container {
    text-align: center;
    font-weight: 500;
  }
  .text-container p {
    padding: 0.5rem;
    margin: 0;
  }
  /* Responsive Styles for Larger Screens */

  @media (min-width: 524px) {
    .title-heading {
      font-size: 2rem;
    }
    .text-container {
      text-align: center;
      margin: 2rem;
    }
    .text-container p {
      padding: 0.5rem;
      margin: 0;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  @media (min-width: 768px) {
    .hero {
      background-size: cover;
      background-position: center;
    }
    .title-heading {
      font-size: 3rem;
    }
    .text-container p {
      margin-top: 5rem;
      margin-bottom: 8rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2.5rem;
    }

    .heading-three {
      font-size: 2rem;
      font-weight: normal;
      color: white;
      margin: 8rem 0.5rem 0rem 0;
    }
  }

  @media (min-width: 1024px) {
    .title-heading {
      font-size: 6rem;
      min-width: 600px;
      margin-top: 5rem;
    }

    .heading-three {
      font-size: 2.5rem;
      font-weight: normal;
      color: white;

      margin-top: 17rem;
      margin-left:1.5rem;
    }

    .hero {
    height: 660px;
  }
  }
</style>
