<section class="hero">
  <div class="hero-container">
    <div class="title-box">
      <h1 class="title-heading">Mærk rytmen <br /> på provinsen</h1>
    </div>
    <div class="hero-content">
      <button class="cta-button">Se Events</button>
    </div>
    <div>
      <h3 class="heading-three">COMING UP HOLBÆK</h3>
    </div>
  </div>
</section>
<div class="text-container">
  <p>
    Coming Up er en frivillig musikorganisation dedikeret til at fremhæve unge,
    spirende sangere og musikere. Vi giver dem en scene til at udfolde deres
    talent og bringe original, rå og autentisk musik til publikum. Sammen skaber
    vi koncertoplevelser, der lyser op som et prisme og spreder kreativitet.
  </p>
</div>

<style>
  /* Mobile-first Base Styles */
  .hero {
    background-image: url('/public/images/index/heroimg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 2rem;
    width: 100%;
    height: 100%;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 2rem;
  }
  .title-heading {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #902d7b;
    line-height: 1.2;
    max-width: 500px;
    text-indent: 0%;
    width: 100%;
    margin: 2rem 0.5rem 2rem 0;
  }

  .cta-button {
    background-color: #f476fb;
    border: none;
    color: white;
    padding: 0.4rem 1rem;
    font-size: 0.55rem;
    border-radius: 25px;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;
  }

  .cta-button:hover {
    background-color: #f0aaf4;
    transform: scale(1.05);
  }

  .heading-three {
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
    word-spacing: 0.5rem;
    margin: 2rem 0.5rem 0rem 0;
  }
  .text-container {
    text-align: center;
    margin: 4rem 0.5rem 0.5rem 0.5rem;
    font-weight: 500;
  }
  .text-container p {
    text-align: center;
    padding: 0.5rem;
    margin: 0;
  }
  /* Responsive Styles for Larger Screens */

  @media (min-width: 524px) {
    .title-heading {
      font-size: 2rem;
    }
    .text-container {
      text-align: center;
      margin: 2rem;
    }
    .text-container p {
      text-align: center;
      padding: 0.5rem;
      margin: 0;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  @media (min-width: 768px) {
    .hero {
      background-size: cover;
      background-position: center;
    }
    .title-heading {
      font-size: 3rem;
    }
    .text-container p {
      text-align: center;
      padding: 0.5rem;
      margin: 0;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 2.5rem;
    }

    .heading-three {
      font-size: 2rem;
      font-weight: normal;
      color: white;
      word-spacing: 0.5rem;
      margin: 8rem 0.5rem 0rem 0;
    }
    .cta-button {
      font-size: 1.2rem;
      padding: 0.8rem 2rem;
    }
  }

  @media (min-width: 1024px) {
    .title-heading {
      font-size: 4rem;
      min-width: 600px;
      margin: 4rem 1rem 4rem 0;
    }

    .heading-three {
      font-size: 2.5rem;
      font-weight: normal;
      color: white;
      word-spacing: 0.5rem;
      margin: 14rem 0.5rem 0rem 0;
    }
  }
</style>
